{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroTagBundle::macros.html.twig' as tag %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'BapIssueBundle::macros.html.twig' as bts %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('bap_issue.issue.type.label'|trans, get_issue_type_title(entity.type)) }}

            {{ ui.renderProperty('bap_issue.issue.code.label'|trans, entity.code) }}

            {{ ui.renderProperty('bap_issue.issue.summary.label'|trans, entity.summary) }}

            {{ ui.renderProperty('bap_issue.issue.description.label'|trans, entity.description) }}

            {{ ui.renderProperty('bap_issue.issue.priority.label'|trans, entity.priority.title) }}

            {% set resolution = entity.resolution ? entity.resolution.title : 'N/A' %}
            {{ ui.renderProperty('bap_issue.issue.resolution.label'|trans, resolution) }}

            {% if entity.parent %}
                {% set parent = bts.renderIssueLink(entity.parent) %}
                {{ ui.renderHtmlProperty('bap_issue.issue.parent.label'|trans, parent) }}
            {% endif %}

            {% set reporter = entity.reporter ? bts.renderUserLink(entity.reporter) : 'N/A' %}
            {{ ui.renderHtmlProperty('bap_issue.issue.reporter.label'|trans, reporter) }}

            {% set assignee = entity.assignee ? bts.renderUserLink(entity.assignee) : 'N/A' %}
            {{ ui.renderHtmlProperty('bap_issue.issue.assignee.label'|trans, assignee) }}

            {% set owner = entity.owner ? bts.renderUserLink(entity.owner) : 'N/A' %}
            {{ ui.renderHtmlProperty('bap_issue.issue.owner.label'|trans, owner) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>

        {% if resource_granted('oro_tag_view_tag_cloud') %}
            <div class="responsive-block">
                {{ ui.renderHtmlProperty('oro.tag.entity_plural_label'|trans, tag.renderView(entity)) }}
            </div>
        {% endif %}
    </div>
</div>

